<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:easy="http://www.easyrestaurant.com"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/page-template}">

	<head>
		<title>Pesquisa de produtos</title>
	</head>
	
	<h1 layout:fragment="breadcrumbs">
		<strong>
			Produtos
		</strong>
	</h1>

	<section layout:fragment="content">
		<div class="container-fluid margin-top-default">
			<form method="get" th:object="${productFilter}">
				<div class="row">
					<div class="form-group  col-sm-2">
						<label for="sku" class="control-label">SKU</label>
						<input id="sku" type="text" class="form-control" th:field="*{sku}" />
					</div>
					
					<div class="form-group  col-sm-5" >
						<label for="name" class="control-label">Nome</label>
						<input id="name" type="text" class="form-control" th:field="*{name}" />
					</div>
				
					<div class="form-group  col-sm-3">
						<label class="control-label" for="category">Categoria</label>
						<select id="category" class="form-control" th:field="*{category}" >
		                    <option value="">Todas</option>
		                    <option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}"></option>
		                </select>
					</div>
				
					<div class="form-group  col-sm-2">
						<button type="submit" class="btn  btn-primary" style="margin-top:28px">Pesquisar</button>
					</div>
				</div>
			</form>
			
			<div class="table-responsive easy-table margin-top-10">
				<table class="table">
					<thead>
						<tr>
							<th class="text-center wid60"></th>
							<th class="text-center wid100">SKU</th>
							<th>
								Nome
								<span class="caret"></span>	
							</th>
							<th class="text-center">Categoria</th>
							<th class="text-center">Estoque</th>
							<th class="text-right">Valor</th>
							<th class="text-center"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="product : ${page.content}">
							<td class="text-center">
								<img th:src="@{/images/thumbnail.{image}(image=${product.imageOrMock})}" class="img-responsive"/>
							</td>
							
							<td class="text-center" th:text="${product.sku}"></td>
							<td th:text="${product.name}"></td>
							<td class="text-center" th:text="${product.category.name}"></td>
							<td class="text-center" th:text="${product.stockQuantity}"></td>
							<td class="text-right" th:text="|R$ ${product.price}|"></td>
							<td class="text-center">
								<a class="btn  btn-link  btn-xs" title="Editar"> 
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
								<a class="btn  btn-link  btn-xs" title="Excluir">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
							</td>
						</tr>
						
						<tr th:if="${page.empty}">
							<td colspan="7">Nenhum produto encontrado.</td>
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="col-sm-12 margin-top-10" th:if="${not page.empty}">
				<nav>
					<ul class="pagination justify-content-center">
				    	<li class="page-item" th:classappend="${page.first} ? disabled">
				      		<a class="page-link" th:href="${page.uriToPage(page.current - 1)}" aria-label="Previous">
				        		<span aria-hidden="true">&laquo;</span>
				        		<span class="sr-only">Previous</span>
				      		</a>
				    	</li>
				    	
				    	<th:block th:each="p : ${#numbers.sequence(1, page.total)}" th:with="pageNumber=${p - 1}">
				    		<li class="page-item" th:classappend="${page.current == pageNumber} ? active">
				    			<a class="page-link" th:href="${page.uriToPage(pageNumber)}">[[${p}]]</a>
				    		</li>
				    	</th:block>
				    
					    <li class="page-item" th:classappend="${page.last} ? disabled">
					    	<a class="page-link" th:href="${page.uriToPage(page.current + 1)}" aria-label="Next">
					        	<span aria-hidden="true">&raquo;</span>
					        	<span class="sr-only">Next</span>
					      	</a>
					    </li>
				  	</ul>
				</nav>
			</div>
		</div>
	</section>
</html>
