<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:easy="http://easy-restaurant.com"
	  xmlns:data="http://www.thymeleaf.org/extras/data"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/LayoutPadrao}">

	<head>
		<title>Cadastro de pedido</title>
		
		<link th:href="@{/css/vendors/easy-autocomplete.min.css}" rel="stylesheet">
		<link th:href="@{/css/vendors/easy-autocomplete.themes.min.css}" rel="stylesheet">
	</head>

	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>Cadastro de pedido</h1>
					</div>
					
					<div class="col-sm-2">
						<div class="page-header-controls">
							<a class="btn  btn-default">
								<i class="glyphicon glyphicon-search"></i> 
								<span class="hidden-xs hidden-sm">Pesquisar</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<form th:action="@{/pedidos/form}" method="POST">
				<input type="hidden" id="uuid" th:value="${uuid}" />
			
				<div class="row">
					<div class="col-sm-4">
						<div class="aw-box">
							<div class="aw-box__icon">
								<i class="fa  fa-usd  fa-3x"></i>
							</div>
							<div class="aw-box__value">
								R$ <span class="js-valor-total-box">0,00</span>
							</div>
							<div class="aw-box__title">Total</div>
						</div>
					</div>
					
					<div class="col-sm-4">
						<div class="aw-box">
							<div class="aw-box__icon">
								<i class="fa  fa-tag  fa-3x"></i>
							</div>
							<div class="aw-box__value">Aberto</div>
							<div class="aw-box__title">Status</div>
						</div>
					</div>
					
					<div class="col-sm-4">
						<div class="aw-box">
							<div class="aw-box__icon">
								<i class="fa  fa-table  fa-3x"></i>
							</div>
							<div class="aw-box__value">
								<span class="js-tooltip">39</span>
							</div>
							<div class="aw-box__title">Mesa</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group  col-sm-4  bw-required">
						<label class="control-label" for="nomeCliente">Cliente</label>
						<div class="input-group">
					      <input id="nomeCliente" type="text" readonly="readonly" class="form-control" placeholder="Clique na lupa para pesquisar o cliente"/>
					      <input id="codigoCliente" type="hidden" />
					      <span class="input-group-btn">
					         <button class="btn  btn-default  js-tooltip" type="button" title="Pesquisa avançada"
				        		data-toggle="modal" data-target="#pesquisaRapidaClientes" >
				        		<i class="glyphicon  glyphicon-search"></i>
				       		 </button>
					      </span>
					    </div>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group  col-lg-12">
						<label for="produto" class="control-label">Produto</label>
						<input type="text" class="form-control js-sku-nome-produto-input" id="produto" 
							placeholder="Pesquise e adicione o produto pelo SKU ou nome" autofocus="autofocus"
							data:url="@{/produtos}" />
					</div>
				</div>
					
				<div class="tabela_produto js-tabela-produtos-container">
					<div class="tabela_produto_vazio">
						<i class="glyphicon  glyphicon-shopping-cart"></i> 
						<span>Você ainda não adicionou nenhum produto.</span>
					</div>
				</div>
				
				<div class="row" style="clear: both">
					<div class="col-lg-12">
						<div class="btn-group">
						  <button type="submit" class="btn  btn-primary">Salvar</button>
						  <button type="button" class="btn  btn-primary  dropdown-toggle" data-toggle="dropdown">
						    <span class="caret"></span>
						  </button>
						  
						  <ul class="dropdown-menu">
						    <li><a href="#">Salvar e encerrar</a></li>
						  </ul>
						</div>
					
						<button class="btn  btn-danger">Cancelar</button>
					</div>
				</div>
			</form>
			
			<th:block th:replace="clientes/PesquisaRapidaClientes :: pesquisaRapidaClientes"></th:block>
			<th:block th:replace="hbs/TemplateAutocompleteProduto"></th:block>
		</div>
	</section>
	
	<th:block layout:fragment="javascript-extra">
		<script th:src="@{/js/cliente.pesquisa-rapida.js}"></script>
		<script th:src="@{/js/vendors/handlebars.min.js}"></script>
		<script th:src="@{/js/vendors/jquery.easy-autocomplete.min.js}"></script>
		<script th:src="@{/js/pedido.autocomplete-itens.js}"></script>
		<script th:src="@{/js/pedido.tabela-itens.js}"></script>
		<script th:src="@{/js/pedido.js}"></script>
	</th:block>
</html>