<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Easy Restaurant</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/font-awesome/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/vendors/bootstrap-datepicker.standalone.min.css}" rel="stylesheet">
    <link th:href="@{/css/sistema.css}" rel="stylesheet">
    <link th:href="@{/css/easy-restaurant.css}" rel="stylesheet">
    <link th:href="@{/css/algaworks.css}" rel="stylesheet">
</head>

<body>
	<div id="wrapper">
        <div th:replace="layout/fragments/BarraNavegacao :: navbar"></div>
		
		<section  layout:fragment="conteudo"></section>
		
		<div th:replace="layout/fragments/Rodape :: layout-footer"></div>
	</div>
	
	<script th:src="@{/js/vendors/jquery.js}"></script>
	<script th:src="@{/js/vendors/jquery.maskMoney.min.js}"></script>
	<script th:src="@{/js/vendors/jquery.mask.min.js}"></script>
    <script th:src="@{/js/vendors/bootstrap.min.js}"></script>
    
    <script th:src="@{/js/vendors/bootstrap-datepicker.min.js}"></script>
	<script th:src="@{/js/vendors/bootstrap-datepicker.pt-BR.min.js}"></script>
    
    <script th:src="@{/js/easy-restaurant.js}"></script>
    
    <th:block layout:fragment="javascript-extra"></th:block>
</body>
</html>