<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:data="http://www.thymeleaf.org/extras/data"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:easy="http://easy-restaurant.com"
	  layout:decorate="layout/LayoutPadrao">

<head>
	<title>Cadastro de Cliente</title>
</head>

<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Cadastro de Cliente</h1>
				</div>
					
				<div class="col-sm-2">
					<div class="page-header-controls">
						<a class="btn  btn-default" th:href="@{/clientes}">
							<i class="glyphicon  glyphicon-plus-sign"></i> 
							<span class="hidden-xs  hidden-sm">Pesquisar clientes</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object=${cliente} th:action="@{/clientes/novo}">
			<easy:message />
		
			<div class="row">
				<div class="form-group col-sm-12 easy-required" easy:classforerror="nome">
					<label for="nome" class="control-label">Nome</label>
					<input type="text" class="form-control" id="nome" th:field="*{nome}" autofocus />
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-sm-4 easy-required" easy:classforerror="tipo">
					<label class="control-label">Tipo pessoa</label> 
					<div>
						<th:block th:each="tipoPessoa : ${tiposPessoa}">
							<div class="radio  radio-inline">
								<input type="radio" th:id="|id_${tipoPessoa}|" class="js-radio-tipo-pessoa" 
									th:field="*{tipo}" th:value="${tipoPessoa}"
									data:documento="${tipoPessoa.documento}" data:mascara="${tipoPessoa.mascara}"> 
								<label class="control-label" th:for="|id_${tipoPessoa}|" th:text="${tipoPessoa.descricao}">Física</label>
							</div>
						</th:block>
					</div>
				</div>
				
				<div class="form-group  col-sm-8 easy-required" easy:classforerror="documento">
					<label for="documento" class="control-label">CPF/CNPJ</label>
					<input type="text" class="form-control" id="documento" th:field="*{documento}" disabled />
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-4">
					<label for="telefone" class="control-label">Telefone</label>
					<input type="text" class="form-control js-phone" id="telefone" th:field="*{telefone}" />
				</div>
				
				<div class="form-group  col-sm-8" easy:classforerror="email">
					<label for="email" class="control-label">E-mail</label>
					<input type="text" class="form-control" id="email" th:field="*{email}" />
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-4">
					<label for="logradouro">Logradouro</label>
					<input type="text" class="form-control" id="logradouro" th:field="*{endereco.logradouro}"/>
				</div>
				
				<div class="form-group  col-sm-2">
					<label for="numero">Número</label>
					<input type="text" class="form-control" id="numero" th:field="*{endereco.numero}"/>
				</div>
				
				<div class="form-group  col-sm-6">
					<label for="complemento">Complemento</label>
					<input type="text" class="form-control" id="complemento" th:field="*{endereco.complemento}"/>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-4">
					<label for="bairro">Bairro</label>
					<input type="text" class="form-control" id="bairro" th:field="*{endereco.bairro}"/>
				</div>
			
				<div class="form-group  col-sm-4">
					<label for="estado">Estado</label>
					<select id="estado" class="form-control" th:field="*{endereco.estado}">
	                    <option value="">Selecione o estado</option>
	                    <option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado.descricao}">Ceará</option>
	                </select>
				</div>
				
				<div class="form-group  col-sm-4">
					<label for="cidade">Cidade</label>
					<div class="easy-field-action">
						<input type="hidden" id="inputHiddenCidadeSelecionada" th:value="*{endereco.cidade} != null ? *{endereco.cidade.codigo}"/>
						<select id="cidade" class="form-control" data:url="@{/cidades}" th:field="*{endereco.cidade}">
						</select>
						
						<div class="easy-field-action_icon js-img-loading" style="display: none">
							<img th:src="@{/images/mini-loading.gif}"/>
						</div>
					</div>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary">Salvar</button>				
		</form>
	</div>
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/js/mascara-documento.js}"></script>
	<script th:src="@{/js/combo-cidade.js}"></script>
</th:block>
</html>