<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:easy="http://easy-restaurant.com"
	  layout:decorate="~{layout/LayoutPadrao}">

	<head>
		<title>Categorias</title>
	</head>
	
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>Cadastro de Categoria</h1>
					</div>
					
					<div class="col-sm-2">
						<div class="page-header-controls">
							<a class="btn  btn-default" th:href="@{/categorias}">
								<i class="glyphicon  glyphicon-search"></i> 
								<span class="hidden-xs  hidden-sm">Pesquisar</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<form method="POST" th:object=${categoria} th:action="@{/categorias/form}">
				<easy:message />
	
				<div class="row">
					<div class="col-sm-6 form-group easy-required" easy:classforerror="nome">
						<label for="nome" class="control-label">Nome</label>
						<input id="nome" type="text" class="form-control" th:field="*{nome}" />
					</div>
				</div>
					
				<div class="form-group">
					<button class="btn btn-primary" type="submit">Salvar</button>
				</div>
			</form>
		</div>
	</section>
</html>