<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="'layout/LayoutPadrao'">

<head>
	<title>Cadastro de Produto</title>
	
	<link th:href="@{/css/vendors/bootstrap-toggle.min.css}" rel="stylesheet">
	<link th:href="@{/css/vendors/upload.min.css}" rel="stylesheet">
</head>


<section layout:fragment="conteudo">
	
	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de Produto
			</h1>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object=${produto} class="form-vertical">
			<th:block th:include="layout/fragments/MensagemSucesso"></th:block>
			<th:block th:include="layout/fragments/MensagensErro"></th:block>

			<div class="row">
				<div class="col-sm-2 form-group easy-required" th:classappend="${#fields.hasErrors('sku')} ? has-error">
					<label for="sku" class="control-label">SKU</label>
					<input id="sku" type="text" class="form-control" th:field="*{sku}" />
				</div>
				
				<div class="col-sm-10 form-group easy-required" th:classappend="${#fields.hasErrors('nome')} ? has-error">
					<label for="nome" class="control-label">Nome</label>
					<input id="nome" type="text" class="form-control" th:field="*{nome}" />
				</div>
			</div>
			
			<div class="form-group" th:classappend="${#fields.hasErrors('descricao')} ? has-error">
				<label for="descricao" class="control-label">Descrição</label>
				<textarea id="descricao" rows="3" class="form-control" th:field="*{descricao}"></textarea>
			</div>
			
			<div class="row">
				<div class="col-sm-3  form-group easy-required" th:classappend="${#fields.hasErrors('categoria')} ? has-error">
					<label for="categoria" class="control-label">Categoria</label>
					<div class="easy-field-action">
						<select id="categoria" class="form-control" th:field="*{categoria}">
							<option value="">Selecione</option>
							<option th:each="categoria : ${ categorias }" 
								th:value="${categoria.codigo}" th:text="${categoria.nome}"></option>
						</select>
						
						<div class="easy-field-action_icon">
							<a href="#" data-toggle="modal" data-target="#modalCadastroRapidoCategoria">
								<i class="glyphicon  glyphicon-plus-sign  bw-glyphicon-large"></i>
							</a>
						</div>
					</div>
				</div>
				
				<div class="col-sm-3  form-group easy-required" th:classappend="${#fields.hasErrors('valorUnitario')} ? has-error">
					<label for="valor" class="control-label">Valor unitário</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="valor" type="text" class="form-control js-decimal" th:field="*{valorUnitario}" />
					</div>
				</div>
				
				<div class="col-sm-3 form-group easy-required" th:classappend="${#fields.hasErrors('quantidadeEstoque')} ? has-error">
					<label for="estoque" class="control-label">Estoque</label>
					<input id="estoque" type="text" class="form-control js-plain" th:field="*{quantidadeEstoque}" />
				</div>
				
				<div class="col-sm-3 form-group">
					<label class="control-label">Status</label>
					<div>
						<input type="checkbox" class="js-status" data-size="normal" th:field="*{ativo}"
							data-on="Ativo" data-off="Inativo" data-onstyle="success" data-offstyle="danger" />
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="form-group col-sm-12">
					<input type="hidden" th:field="*{foto}">
					<input type="hidden" th:field="*{contentType}">
				
					<label class="control-label">Foto</label>
					
					<div class="js-container-foto-produto">
						<div id="upload-drop" class="easy-upload">
							<i class="glyphicon  glyphicon-cloud-upload"></i>
							<span>Arraste a foto aqui ou </span>
							<a class="easy-upload-form-file">selecione 
								<input id="upload-select" type="file" accept=".jpg,.jpeg,.png"/>
							</a>
						</div>
					</div>
				</div>
			</div>
			
			<br/>
				
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>
		</form>
	</div>
	
	<div th:replace="categoria/CadastroRapidoCategoria :: modal"></div>
	<th:block th:replace="hbs/FotoProduto"></th:block>
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/js/vendors/bootstrap-toggle.min.js}"></script>
	<script th:src="@{/js/cadastro-rapido-categoria.js}"></script>
	<script th:src="@{/js/vendors/uikit.min.js}"></script>
	<script th:src="@{/js/vendors/handlebars.min.js}"></script>
	
	<script>
		$('.js-status').bootstrapToggle();
	</script>

	<script>
		(function($) {
			var settings = {
				url : '/easy-restaurant/fotos',
				allow: '*.(jpg|jpeg|png)',
				multiple : false,
					
				complete : function(resposta) {
					var fotoDTO = resposta.responseJSON;
					
					var inputNomeFoto = $('input[name=foto]');
					var inputContentType = $('input[name=contentType]');
					
					var htmlFotoProdutoTemplate = $('#foto-produto').html();
					var template = Handlebars.compile(htmlFotoProdutoTemplate);
					var htmlFotoProduto = template({nomeFoto: fotoDTO.nome});
					
					var containerFotoProduto = $('.js-container-foto-produto');
					
					var uploadDrop = $('#upload-drop');
					
					inputNomeFoto.val(fotoDTO.nome);
					inputContentType.val(fotoDTO.contentType);
					
					uploadDrop.addClass('hidden');
					containerFotoProduto.append(htmlFotoProduto);
					
					$('.js-remove-foto').on('click', function() {
						$('.js-foto-produto').remove();
						uploadDrop.removeClass('hidden');
						inputNomeFoto.val('');
						inputContentType.val('');
					});
				}
			};
			
			UIkit.upload('#upload-drop', settings);
			
		})(jQuery);
	</script>
</th:block>
</html>