<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="'layout/LayoutPadrao'">

<section layout:fragment="conteudo">
	<h1>Cadastro de Produto</h1>
		
	<form action="novo" method="POST" th:object=${produto}>
		<div>
			<ul>
				<li th:each="erro : ${ #fields.detailedErrors() }" >
					<span th:text="${erro.message}"></span>
				</li>
			</ul>
		</div>
			
		<span th:text="${ mensagem }" ></span><br />
		
		<label>SKU</label>
		<input type="text" th:field="*{sku}" >
			
		<br/>
			
		<label>Nome</label>
		<input type="text" th:field="*{nome}" >
		
		<br/>
			
		<input type="submit" value="Salvar">
	</form>
</section>
</html>