<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="'layout/LayoutPadrao'">

<head>
	<title>Pesquisa de Produtos</title>
</head>

<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-10">
					<h1>Pesquisa de produtos</h1>
				</div>
				
				<div class="col-sm-2">
					<div class="page-header-controls">
						<a class="btn  btn-default" th:href="@{/produtos/novo}">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo produto</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="get" th:object="${produtoFilter}">
			<div class="row">
				<div class="form-group  col-sm-2">
					<label class="control-label" for="sku">SKU</label>
					<input type="text" class="form-control" id="sku" autofocus="autofocus" th:field="*{sku}" />
				</div>
				
				<div class="form-group  col-sm-5" >
					<label class="control-label" for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" th:field="*{nome}" />
				</div>
			
				<div class="form-group  col-sm-3">
					<label class="control-label" for="estilo">Categoria</label>
					<select id="estilo" class="form-control" th:field="*{categoria}" >
	                    <option value="">Todas as categorias</option>
	                    <option th:each="categoria : ${categorias}" th:text="${categoria.nome}" th:value="${categoria.codigo}"></option>
	                </select>
				</div>
			
				<div class="form-group  col-sm-2">
					<button type="submit" class="btn  btn-primary" style="margin-top: 25px">Pesquisar</button>
				</div>
			</div>
		</form>
		
		<div class="table-responsive easy-table">
			<table class="table table-hover">
				<thead>
					<tr>
						<th class="table-produtos-col-foto"></th>
						<th class="table-produtos-col-sku">
							<easy:order page="${pagina}" field="sku" text="SKU" />
						</th>
						<th class="table-produtos-col-nome">
							<easy:order page="${pagina}" field="nome" text="Nome" />
						</th>
						<th class="table-produtos-col-categoria">Categoria</th>
						<th class="table-produtos-col-estoque">Estoque</th>
						<th class="table-produtos-col-valor">Valor</th>
						<th class="table-produtos-col-acoes"></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="produto : ${pagina.content}">
						<td class="text-center">
							<img th:src="@{/fotos/thumbnail.{foto}(foto=${produto.fotoOuMock})}" class="img-responsive"/>
						</td>
						
						<td class="text-center" th:text="${produto.sku}"></td>
						<td th:text="${produto.nome}"></td>
						<td th:text="${produto.categoria.nome}"></td>
						<td class="text-center" th:text="${produto.quantidadeEstoque}"></td>
						<td class="text-right" th:text="|R$ ${produto.valorUnitario}|"></td>
						<td class="text-center">
							<a class="btn  btn-link  btn-xs" title="Editar"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs" title="Excluir">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
					</tr>
					
					<tr th:if="${pagina.empty}">
						<td colspan="7">Nenhum produto encontrado.</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<easy:pagination page="${pagina}" />
	</div>
</section>
</html>