<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:easy="http://www.easyrestaurant.com"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/page-template}">

	<head>
		<title>Cadastro de Categoria</title>
	</head>
	
	<h1 layout:fragment="breadcrumbs">
		<a th:href="@{/categories}">Categorias</a>
		<span class="path-divider">/</span>
		<strong>Nova Categoria</strong>
	</h1>

	<section layout:fragment="content">
		<div class="container-fluid">
			<form method="POST" th:action="@{/categories/form}" th:object=${category}>
				<div class="row">
					<div class="col-sm-12 form-group required">
						<label for="name" class="control-label">Nome</label>
						<input id="name" type="text" class="form-control" th:field="*{name}" th:errorclass="is-invalid" />
						<div class="invalid-feedback" th:errors="*{name}"></div>
					</div>
				</div>
				
				<div class="form-group">
					<button class="btn btn-success" type="submit">Salvar</button>
					<a th:href="@{/categories}" class="btn btn-link" >Voltar a pesquisa</a>
				</div>
			</form>
		</div>
	</section>
</html>
