<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:easy="http://www.easyrestaurant.com"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/page-template}">

	<head>
		<title>Pesquisa de Categorias</title>
	</head>
	
	<h1 layout:fragment="breadcrumbs">
		<strong>Categorias</strong>
	</h1>
	
	<section layout:fragment="content">
		<div class="container-fluid">
			<div class="top-area">
				<div class="nav-controls">
					<a class="btn btn-success" th:href="@{/categories/form}" role="button">Nova Categoria</a>
				</div>
			</div>
	
	
			<div class="table-responsive easy-table">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="text-center wid100">#</th>
							<th>Nome</th>
							<th class="text-center wid150">Ações</th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="category : ${categories}">
							<td class="text-center" th:text="${category.id}"></td>
							<td th:text="${category.name}"></td>
							<td class="text-center">
								<a class="btn  btn-link btn-xs" title="Editar"> 
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
								<a class="btn  btn-link  btn-xs" title="Excluir">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
							</td>
						</tr>
						
						<tr th:if="${#lists.isEmpty(categories)}">
							<td colspan="3">Nenhuma categoria encontrada.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</html>