<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="'layout/LayoutPadrao'">

	<head>
		<title>Categorias</title>
	</head>
	
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>Pesquisa de categorias</h1>
					</div>
					
					<div class="col-sm-2">
						<div class="page-header-controls">
							<a class="btn  btn-default" th:href="@{/categorias/form}">
								<i class="glyphicon  glyphicon-search"></i> 
								<span class="hidden-xs  hidden-sm">Cadastrar</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container-fluid">
			<div class="table-responsive easy-table">
				<table class="table table-hover">
					<thead>
						<tr>
							<th class="text-center wid100">#</th>
							<th>Nome</th>
							<th class="text-center wid150">Ações</th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="categoria : ${categorias}">
							<td class="text-center" th:text="${categoria.codigo}"></td>
							<td th:text="${categoria.nome}"></td>
							<td class="text-center">
								<a class="btn  btn-link  btn-xs" title="Editar"> 
									<i class="glyphicon glyphicon-pencil"></i>
								</a>
								<a class="btn  btn-link  btn-xs" title="Excluir">
									<i class="glyphicon glyphicon-remove"></i>
								</a>
							</td>
						</tr>
						
						<tr th:if="${#lists.isEmpty(categorias)}">
							<td colspan="3">Nenhuma categoria encontrada.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
</html>