<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    	<meta name="viewport" content="width=device-width" />
		
		<title>Easy Restaurant :: Login</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/easy.css}" />
	</head>
	
	<body class="skin-black">
		<div class="row">
		
		</div>
		
		
	</body>
</html>
